<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866542925821-6cs4o4jonc1t6i2vanu62g9ql9i5nsjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866542925821-6cs4o4jonc1t6i2vanu62g9ql9i5nsjd</string>
	<key>API_KEY</key>
	<string>AIzaSyCL6gN-BonE-_DsHwm8GLWOQXZIZ-TIGVA</string>
	<key>GCM_SENDER_ID</key>
	<string>866542925821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tOrd</string>
	<key>PROJECT_ID</key>
	<string>truth-or-dare-42799</string>
	<key>STORAGE_BUCKET</key>
	<string>truth-or-dare-42799.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866542925821:ios:3396527338381d16a1cb94</string>
</dict>
</plist>